<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.ethbahmnicore</package>
	<author>ahmi</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.ethbahmnicore.EthioBahmniCoreActivator</activator>
	
	<!-- /Base Module Properties -->
	
	<!-- Minimum OpenMRS 2.1.x; hospital servers may be 2.1.1 while vagrant is 2.1.7 -->
	<require_version>2.1.0</require_version>

	<require_modules>
		<!-- No version pin: hospital Bahmni may ship webservices.rest older than compile classpath -->
		<require_module>org.openmrs.module.webservices.rest</require_module>
	</require_modules>

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>

	<privilege>
		<name>Ethio Bahmni Core Privilege</name>
		<description>Allows managing Ethio Bahmni Core data including CBHI location import</description>
	</privilege>

	<!-- Annotated entities (CbhiLocation) added to the core Hibernate session factory -->
	<packagesWithMappedClasses>org.openmrs.module.ethbahmnicore</packagesWithMappedClasses>
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>
